---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import Description from '../components/Description.astro';
import Fredag from '../components/Fredag.astro';
import Saturday from '../components/Saturday.astro';
import Sunday from '../components/Sunday.astro';
---

<Layout title="Helsinki">
	<main>
		<Hero/>
		<Description/>
		<Fredag />
		<Saturday />
		<Sunday />
	</main>
</Layout>