---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import Description from '../components/Description.astro';
import Day from '../components/Day.astro';
const days = await Astro.glob('../content/days/*.mdx');
---

<Layout title="Helsinki">
	<main>
		<Hero />
		<Description />
		<ul>
			{days.map((day, index) => <li><Day day={day} index={index} /></li>)}
		</ul>
	</main>
</Layout>