---
import Layout from '../layouts/Layout.astro';
import Inspo from '../components/Inspo.astro';
import Activity from '../components/Activity.astro';
import shopping from '../content/activities/shopping.json';
import culture from '../content/activities/culture.json';
import chill from '../content/activities/chill.json';
---

<Layout title="Lørdagstips">
	<main>
        <Inspo />
		<Activity title="Shopping" activity={shopping} />
		<Activity title="Kultur" activity={culture} />
		<Activity title="Pusterom" activity={chill} />
	</main>
</Layout>