---
import Layout from "../layouts/Layout.astro";
import Inspo from "../components/Inspo.astro";
import Activity from "../components/Activity.astro";
const activities = await Astro.glob("../content/activities/*.json");
---

<Layout title="Lørdagstips">
  <main>
    <Inspo />
    <div class="mt-20">
      {
        activities
          .sort((a, b) => a.index - b.index)
          .map((activity) => (
            <div>
              <Activity activity={activity} />
            </div>
          ))
      }
    </div>
  </main>
</Layout>
