---
import ExternalLink from './ExternalLink.astro';
const { title, activity } = Astro.props;
---

<style>
    li {
        list-style-type: disc;
    }
</style>

<section>
    <div class='container mt-10 p-4 mx-auto rounded-3xl bg-dark-purple'>
        <h2 class="text-4xl font-bold mb-4 p-5 sm:pt-20 sm:pl-20 font-recoleta">
            {title}
        </h2>
        <div class="max-w-md mx-auto">
            <ul class="text-xl mb-20 align-middle">
                {activity.map(location => <li><ExternalLink link={location.link} title={location.title} /></li>)}
            </div>
        </div>
    </div>
</section>