<section id="Description">
    <div class="container px-6 mx-auto mt-32 space-y-8">
        <h2 class="max-w-md font-bold text-3xl font-recoleta">Tästä tulee niin hauskaa!</h2>
        <p class="max-w-4xl md:text-left font-graphik">
            Sommeren er kanskje på hell, og vi nærmer oss nok en fødselsdag for Variant. Og da er det en eneste stor glede å kunne invitere alle varianter med sine nærmeste til nok en varianttur. Og denne gangen skal vi tilbake til utlandet, eller nærmere bestemt Helsinki!
            <br/><br/>Vi har prøvd å lage et opplegg som treffer bredt og det vil være rom for å finne sin indre ro og zen.</p>
    </div>
</section>