<!-- <section class="relative container mx-auto p-6">
    <div class="flex items-center justify-between bg-black">
        <h1>Hello</h1>
    </div>
</section> -->

<section id="hero">
    <!-- Flex container -->
    <div class=" container flex flex-col md:flex-row items-center px-6 mx-auto mt-40 ">
        <!-- Left item -->
        <div class="flex flex-col space-y-4 md:w-1/2">
            <div class="absolute z-auto -m-16">
                <img src="/blob.svg" alt="blob">
            </div>
            <p class="max-w-sm text-left md:text-left z-10">
                Varianttur
            </p>
            <h1 class="max-w-md text-5xl font-bold text-center md:text-8xl md:text-left z-10">
                Helsinki
            </h1>
            <p class="max-w-sm text-2xl text-left md:text-left z-10">
                1.-3. september
            </p>
        </div>

        <!-- Image -->
        <div class="md:w-1/2">
            <img src="/helsinki-hero.png" alt="helsinki">
        </div>
    </div>
</section>