<section id="Tips">
    <div class="container px-6 mx-auto mt-32 space-y-8">
        <a href="/" class="flex">
            <svg width="24" height="28" viewBox="0 0 24 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M19 14L5 14" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M12 21.875L5 14L12 6.125" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
            <span class="ml-4">Tilbake</span>
        </a>
        <h2 class="max-w-md font-bold text-3xl font-recoleta">Lørdagstips!</h2>
        <p class="max-w-4xl md:text-left font-graphik">
            Vi har samlet noen av våre beste tips til hva vi kan bruke dagen på
        </p>
    </div>
</section>