<section id="Tips">
    <div class="container px-6 mx-auto mt-32 space-y-8">
        <a href="/">Tilbake</a>
        <h2 class="max-w-md font-bold text-3xl font-recoleta">Lørdagstips!</h2>
        <p class="max-w-4xl md:text-left font-graphik">
            Vi har samlet noen av våre beste tips til hva vi kan bruke dagen på
        </p>
    </div>
</section>