<section id="Practical">
    <div class="mx-24 px-24 mb-40">
        <h2 class="font-medium text-[40px] mb-12">Det praktiske</h2>
        <div>
            <p class="font-medium mb-6">Navn på hotell</p>
            <p class="mb-6">Telefonnummer til hotell</p>
            <p class="mb-6">Adresse til hotell</p>
        </div>
        <div>
            <p class="font-medium mb-4">Lurer du på noe underveis?</p>
            <div class="flex">
                <span>Soskom</span>
                <span>464 32 753</span>
            </div>
        </div>
    </div>
</section>