<section>
    <div class="container mt-10 p-4 mx-auto">
        <!-- Dag -->
        
        <h2 class="text-4xl font-bold mx-auto pt-20 pl-20">
            Lørdag
        </h2>
        

        <div class="container flex flex-row text-xl pt-20 mb-32">
            
            <!-- li 1 -->
            <div class="container">
                <ul class="text-right mr-40 space-y-8">
                    <li>09:00</li>
                    <li>11:00</li>
                    <li>12:00</li>
                    <li>13:00</li>
                    <li>16:00</li>
                    <li>20:00</li>
                </ul>
            </div>

            <div class="container">
                <ul class="space-y-8">
                    <li>Oppmøte på Flesland</li>
                    <li>Oppmøte på Flesland</li>
                    <li>Oppmøte på Flesland</li>
                    <li>Oppmøte på Flesland</li>
                    <li>Oppmøte på Flesland</li>
                    <li>Oppmøte på Flesland</li>
                </ul>
            </div>    
        </div>
    </div>
 </section>