<section>
  <div class="container mt-10 p-4 mx-auto">
    <!-- Dag -->

    <h2 class="text-4xl font-bold mx-auto p-5 sm:pt-20 sm:pl-20 font-recoleta">
      Lørdag
    </h2>

    <div class="max-w-md mx-auto">
      <table class="text-xl mb-20 align-middle">
        <tbody>
          <tr>
            <td class="align-top pl-8 pt-8">09:00</td>
            <td class="pl-12 pt-8 pr-4">Oppmøte på Flesland</td>
          </tr>
          <tr>
            <td class="align-top pl-8 pt-8">09:00</td>
            <td class="pl-12 pt-8 pr-4">Oppmøte på Flesland</td>
          </tr>
          <tr>
            <td class="align-top pl-8 pt-8">09:00</td>
            <td class="pl-12 pt-8 pr-4">Oppmøte på Flesland</td>
          </tr>
          <tr>
            <td class="align-top pl-8 pt-8">09:00</td>
            <td class="pl-12 pt-8 pr-4">Oppmøte</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>
