---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
<style is:global>
  /* @font-face {
    font-family: "Recoleta";
    src: url("/fonts/recoleta/3A95AC_6_0.woff2") format("woff2");
    font-style: normal;
    font-display: swap;
    font-weight: 400;
  } */

  html {
    background: #423d89;
    color: #fff;
    margin: 0;
    padding: 0;
  }

  h1,
  h2,
  h3 {
    font-family: "recoleta";
  }

  p {
    font-family: "graphik";
  }

  li {
    margin-bottom: 2rem;
  }

  time {
    display: inline-block;
    width: 4rem;
    margin-right: 3rem;
  }
</style>
